<template>
	<div class="container" v-if="page">
		<PageHeader />

		<section>
			<Hero />
		</section>

		<div v-for="(component, index) in page.content" :key="index">
			<component
				:is="getComponent(component.__typename)"
				v-bind="component"
			/>
		</div>
	</div>

	<Page404 v-else />
</template>

<script>
	import Page404 from '~/components/404.vue';

	import PageHeader from '~/components/PageHeader.vue';
	import Hero from '~/components/Hero.vue';

	import PageQuery from '~/graphql/page.graphql';

	import ContentComponents from '~/components';

	export default {
		data() {
			return {
				page: null,
			};
		},
		apollo: {
			pages: {
				query: PageQuery,
				variables() {
					return {
						slug: this.$route.params.slug,
					};
				},
				result({ data }) {
					if (data && data.pages) {
						this.page = data.pages[0];
					}
				},
				prefetch: true,
			},
		},
		methods: {
			getComponent(name) {
				return ContentComponents[name] || false;
			},
		},
		components: {
			Page404,

			PageHeader,
			Hero,
		},
	};
</script>

<style scoped>
	.container > * {
		margin-bottom: 100px;
	}

	section {
		text-align: center;
		max-width: 100%;
	}
</style>
