<template>
	<article :class="{ 'images-right': right }">
		<div v-if="!right" class="images">
			<img
				v-for="({ url }, index) in article.media"
				:src="getMediaURL(url)"
				:key="index"
			/>
		</div>

		<div class="text">
			<h2>{{ article.title }}</h2>
			<h3>{{ article.subtitle }}</h3>
			<p>{{ article.intro }}</p>
			<a :href="`/blog/${article.slug}`">lees meer</a>
		</div>

		<div v-if="right" class="images">
			<img
				v-for="({ url }, index) in article.media"
				:src="getMediaURL(url)"
				:key="index"
			/>
		</div>
	</article>
</template>

<script>
export default {
	name: 'article-card',
	props: ['article', 'right'],
};
</script>

<style scoped>
article {
	position: relative;
}

article > div {
	position: relative;
	display: inline-block;
	width: 49%;
	vertical-align: middle;
}

article .text {
	padding: 50px 40px;
	margin-top: -50px;
	text-align: right;
	border-right: 5px solid #ffa34c;
}

article.images-right .text {
	text-align: left;
	border-right: 0;
	border-left: 5px solid #ffa34c;
}

article .text::before,
article .text::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 265px;
	border-top: 5px solid #ffa34c;
}

article.images-right .text::before,
article.images-right .text::after {
	right: auto;
	left: 0;
}

article .text::after {
	content: '';
	top: auto;
	bottom: 0;
}

.images img {
	position: relative;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
}

.images img:nth-child(1) {
	right: -50px;
}

.images img:nth-child(2) {
	top: -50px;
	z-index: 1;
}

.images img:nth-child(3) {
	top: -100px;
}
</style>
