<template>
	<section :style="`background-image: url(${image.url})`"></section>
</template>

<script>
	export default {
		props: ['image'],
	};
</script>

<style scoped>
	section {
		position: relative;
		background-position: center;
		background-size: cover;
		overflow: hidden;
	}

	section::before {
		content: '';
		display: block;
		width: 100%;
		padding-top: 30%;
	}

	@media (max-width: 940px) {
		section::before {
			padding-top: 190px;
		}
	}

	section::after {
		content: '';
		box-shadow: 0 0 20px inset black;
		display: block;
		position: absolute;
		top: 0;
		right: -20px;
		bottom: 0;
		left: -20px;
		background: rgba(8, 76, 87, 0.2);
	}
</style>
