<template>
	<article>
		<img
			v-for="({
				formats: {
					large: { url },
				},
			},
			index) in images"
			:src="getMediaURL(url)"
			:key="index"
		/>
	</article>
</template>

<script>
export default {
	name: 'hero',
	props: ['images'],
};
</script>

<style scoped>
article {
	position: relative;
	overflow: hidden;
}

img {
	width: 100%;
}

@media only screen and (min-width: 1281px) {
	img {
		margin-top: -200px;
	}
}

@media only screen and (max-width: 1280px) {
	article::before {
		content: '';
		display: block;
		padding-bottom: 67%;
	}

	article img {
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		margin-left: -50%;
		max-width: none;
	}
}

article::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 300px;
	background-image: linear-gradient(
		180deg,
		rgba(238, 238, 238, 0) 1%,
		rgba(24, 87, 107, 0.93) 78%,
		#084c61 99%
	);
}
</style>
