<template>
	<header>
		<div class="wrapper">
			<nav>
				<ul>
					<li
						v-for="({ label, url }, index) in items"
						:key="index"
						:class="{ active: $route.path === url }"
					>
						<a :href="url">{{ label }}</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
</template>

<script>
import MenuQuery from '~/graphql/menu.graphql';

export default {
	name: 'page-header',
	data() {
		return {
			items: [],
		};
	},
	apollo: {
		menus: {
			query: MenuQuery,
			variables() {
				return {
					name: 'header',
				};
			},
			result({ data }) {
				if (data && data.menus) {
					this.items = data.menus.reduce(
						(carry, { items }) => carry.concat(items),
						[]
					);
				}
			},
		},
	},
};
</script>

<style scoped>
header {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 85px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid #fff;
}

ul {
	margin: 0;
}

li {
	display: inline-block;
	list-style: none;
}

li a {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px;
	margin: 20px;
	font-size: 1.2rem;
	line-height: 40px;
	color: #084c61;
	border-bottom: 2px solid transparent;
}

li.active a,
li a:hover {
	border-bottom: 2px solid #ffa34c;
	text-decoration: none;
}
</style>
