<template>
	<div class="wrapper">
		<section>
			<h2 v-if="title">{{ title }}</h2>
			<p v-if="description">{{ description }}</p>
			<section class="timer">
				<span>{{ days > 1 ? 'dagen' : 'dag' }}</span>
				<span>{{ hours > 1 ? 'uren' : 'uur' }}</span>
				<span>{{ minutes > 1 ? 'minuten' : 'minuut' }}</span>
				<span>{{ seconds > 1 ? 'seconden' : 'seconde' }}</span>

				<div :class="`days ${name(days)}`">
					<TimerPart />
					<TimerPart />
					<TimerPart />
				</div>

				<div :class="`hours ${name(hours)}`">
					<TimerPart />
					<TimerPart />
				</div>

				<div :class="`minutes ${name(minutes)}`">
					<TimerPart />
					<TimerPart />
				</div>

				<div :class="`seconds ${name(seconds)}`">
					<TimerPart />
					<TimerPart />
				</div>
			</section>
		</section>
	</div>
</template>

<script>
	const letters = ['a', 'b', 'c'];

	import TimerPart from '~/components/TimerPart.vue';

	export default {
		name: 'component-content-timer',
		props: ['title', 'description', 'date'],
		data() {
			return {
				days: 0,
				hours: 0,
				minutes: 0,
				seconds: 0,
				t: null,
			};
		},
		methods: {
			name(n) {
				if (n < 10) n = '0' + n;

				return (n + '')
					.split('')
					.reduce(
						(carry, item, index) =>
							(carry += '--' + letters[index] + item),
						''
					);
			},
			calculate() {
				clearTimeout(this.t);

				let today = new Date();
				let diff = new Date(this.date).getTime() - today.getTime();

				this.days = (diff / (1000 * 3600 * 24)) | 0;
				diff -= this.days * 1000 * 3600 * 24;

				if (this.days < 100) {
					this.days = '0' + this.days;
				}

				this.hours = (diff / (1000 * 3600)) | 0;
				diff -= this.hours * (1000 * 3600);

				this.minutes = (diff / (1000 * 60)) | 0;
				diff -= this.minutes * 1000 * 60;

				this.seconds = (diff / 1000) | 0;

				this.t = setTimeout(this.calculate, 1000);
			},
		},
		components: { TimerPart },
		created() {
			this.calculate();
		},
	};
</script>

<style scoped>
	.timer {
		display: grid;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: repeat(4, 1fr);
		justify-items: center;
		max-width: 410px;
		margin: 0 auto;
		padding-left: 50px;
	}

	.timer > div {
		display: grid;
		grid-template-columns: 40px 40px;
		overflow: hidden;
		border: 1px solid #ffa34c;
		width: 80px;
		height: 50px;
		margin: 0 10px;
	}

	.timer > *:nth-child(4n + 1) {
		margin-right: 50px;
	}

	.timer > .days {
		grid-template-columns: 40px 40px 40px;
		width: 120px;
	}
</style>

<style>
	.timer > div div {
		transform: translateY(0);
		transition: transform 0.2s;
	}
	.timer > div div + div {
		border-left: 1px dashed #ffa34c;
	}

	.timer > div div span {
		display: inline-block;
		width: 40px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 2rem;
	}

	/** TRANSITIONS **/
	.timer > div[class*='--a1'] div:first-child {
		transform: translateY(-50px);
	}

	.timer > div[class*='--a2'] div:first-child {
		transform: translateY(-100px);
	}

	.timer > div[class*='--a3'] div:first-child {
		transform: translateY(-150px);
	}

	.timer > div[class*='--a4'] div:first-child {
		transform: translateY(-200px);
	}

	.timer > div[class*='--a5'] div:first-child {
		transform: translateY(-250px);
	}

	.timer > div[class*='--a6'] div:first-child {
		transform: translateY(-300px);
	}

	.timer > div[class*='--a7'] div:first-child {
		transform: translateY(-350px);
	}

	.timer > div[class*='--a8'] div:first-child {
		transform: translateY(-400px);
	}

	.timer > div[class*='--a9'] div:first-child {
		transform: translateY(-450px);
	}

	/** second number **/

	.timer > div[class*='--b1'] div:nth-child(2) {
		transform: translateY(-50px);
	}

	.timer > div[class*='--b2'] div:nth-child(2) {
		transform: translateY(-100px);
	}

	.timer > div[class*='--b3'] div:nth-child(2) {
		transform: translateY(-150px);
	}

	.timer > div[class*='--b4'] div:nth-child(2) {
		transform: translateY(-200px);
	}

	.timer > div[class*='--b5'] div:nth-child(2) {
		transform: translateY(-250px);
	}

	.timer > div[class*='--b6'] div:nth-child(2) {
		transform: translateY(-300px);
	}

	.timer > div[class*='--b7'] div:nth-child(2) {
		transform: translateY(-350px);
	}

	.timer > div[class*='--b8'] div:nth-child(2) {
		transform: translateY(-400px);
	}

	.timer > div[class*='--b9'] div:nth-child(2) {
		transform: translateY(-450px);
	}

	/** third number **/

	.timer > div[class*='--c1'] div:nth-child(3) {
		transform: translateY(-50px);
	}

	.timer > div[class*='--c2'] div:nth-child(3) {
		transform: translateY(-100px);
	}

	.timer > div[class*='--c3'] div:nth-child(3) {
		transform: translateY(-150px);
	}

	.timer > div[class*='--c4'] div:nth-child(3) {
		transform: translateY(-200px);
	}

	.timer > div[class*='--c5'] div:nth-child(3) {
		transform: translateY(-250px);
	}

	.timer > div[class*='--c6'] div:nth-child(3) {
		transform: translateY(-300px);
	}

	.timer > div[class*='--c7'] div:nth-child(3) {
		transform: translateY(-350px);
	}

	.timer > div[class*='--c8'] div:nth-child(3) {
		transform: translateY(-400px);
	}

	.timer > div[class*='--c9'] div:nth-child(3) {
		transform: translateY(-450px);
	}
</style>
