<template>
	<div class="wrapper">
		<section>
			<article>
				<iframe
					width="560"
					height="315"
					:src="video.url"
					frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen
				></iframe>
			</article>
		</section>
	</div>
</template>

<script>
	export default {
		name: 'component-content-video',
		props: ['video'],
	};
</script>

<style scoped>
	article {
		position: relative;
		display: inline-block;
		margin: 100px 0;
		max-width: calc(100% - 100px);
	}

	article::before,
	article::after {
		content: '';
		position: absolute;
		top: -30px;
		right: -30px;
		width: 265px;
		height: 265px;
		border-top: 5px solid #ffa34c;
		border-right: 5px solid #ffa34c;
	}

	article::after {
		content: '';
		top: calc(100% - 240px);
		right: auto;
		left: -30px;
		border-top: 0;
		border-right: 0;
		border-bottom: 5px solid #ffa34c;
		border-left: 5px solid #ffa34c;
	}

	iframe {
		position: relative;
		z-index: 1;
		max-width: 100%;
	}
</style>
