* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	font: 14px/22px Arial;
	color: #fff;
	min-height: 100%;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #ffa34c;
}

a:hover {
	text-decoration: underline;
}

#__nuxt,
#__layout {
	height: 100%;
}

#__nuxt {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #084c61;
}

.wrapper {
	display: grid;
	grid-template-columns: 1280px;
	justify-content: center;
}

@media only screen and (max-width: 1280px) {
	.wrapper {
		grid-template-columns: 100%;
	}
}
