<template>
	<div class="container" v-if="article">
		<PageHeader />

		<div class="wrapper">
			<section>
				{{ article }}
			</section>
		</div>
	</div>
</template>

<script>
import PageHeader from '~/components/PageHeader.vue';
import Hero from '~/components/Hero.vue';

import ArticleQuery from '~/graphql/article.graphql';

export default {
	data() {
		return {
			article: null,
		};
	},
	apollo: {
		articles: {
			query: ArticleQuery,
			variables() {
				return {
					slug: this.$route.params.slug,
				};
			},
			result({ data }) {
				if (data && data.articles) {
					this.article = data.articles[0];
				}
			},
			prefetch: true,
		},
	},
	components: {
		PageHeader,
	},
};
</script>

<style scoped>
.container > * {
	margin-bottom: 100px;
}

section {
	text-align: center;
	max-width: 100%;
}
</style>
