<template>
	<div class="container">
		<PageHeader />

		<Hero />

		<div class="wrapper">
			<ArticleCard
				v-for="article in articles"
				:article="article"
				:key="article.slug"
			/>
		</div>
	</div>
</template>

<script>
import PageHeader from '~/components/PageHeader.vue';
import Hero from '~/components/Hero.vue';
import ArticleCard from '~/components/ArticleCard.vue';

import ArticlesQuery from '~/graphql/articles.graphql';

export default {
	data() {
		return {
			articles: [],
		};
	},
	apollo: {
		articles: {
			query: ArticlesQuery,
			prefetch: true,
		},
	},
	components: {
		PageHeader,
		Hero,
		ArticleCard,
	},
};
</script>

<style scoped>
.container > * {
	margin-bottom: 100px;
}

section {
	text-align: center;
	max-width: 100%;
}
</style>
