<template>
	<div class="container" v-if="page">
		<PageHeader />

		<section>
			<Hero :images="page.image" />
		</section>

		<div v-for="(component, index) in page.content" :key="index">
			<component
				:is="getComponent(component.__typename)"
				v-bind="component"
			/>
		</div>
	</div>
</template>

<script>
	import PageHeader from '~/components/PageHeader.vue';
	import Hero from '~/components/Hero.vue';

	import PageQuery from '~/graphql/page.graphql';

	import ContentComponents from '~/components';

	export default {
		data() {
			return {
				page: null,
			};
		},
		apollo: {
			pages: {
				query: PageQuery,
				variables() {
					return {
						slug: '/',
					};
				},
				result({ data }) {
					if (data && data.pages) {
						this.page = data.pages[0];
					}
				},
				prefetch: true,
			},
		},
		methods: {
			getComponent(name) {
				return ContentComponents[name] || false;
			},
		},
		components: {
			PageHeader,
			Hero,
		},
	};
</script>

<style>
	.wrapper section {
		text-align: center;
		margin: 30px 0;
		max-width: 100%;
	}
</style>
